<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Get rid of boredom!</h1>
    <p>Leave your email and you will receive new activities in your inbox daily:</p>
    <div class="col-md-3"></div>
    <form class="col-md-6" method="post">
      <div class="form-group">
        <% if (complete) { %>
          <p style="color: rgb(220, 203, 20);">Thank you! We've sent the first activity to your email.</p>
        <% } %>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <button type="submit" class="btn btn-primary">I'm in!</button>
    </form>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h4><span class="glyphicon glyphicon-info-sign"></span> Random activity for today:</h4>
      <h3><%= activity.activity %></h3>
        <% if (activity.link) { %>
          <p><b>Link: </b><a href="<%= activity.link %>"><%= activity.link %></a></p>
        <% } %>
        <p><b>Type: </b><%= activity.type %></p>
        <p><b>Participants: </b><%= activity.participants %></p>
        <p><b>Price: </b>
          <% if (activity.price < 0.3) { %>
            <b>$</b> <span style="color: gray;">$ $</span>
          <% } else if (activity.price < 0.6) { %>
            <b>$ $</b> <span style="color: gray;">$</span>
          <% } else { %>
            <b>$ $ $</b>
          <% } %>
        </p>
      
    </div>
    <div class="col-md-3"></div>
</div>


</body>
</html>
